# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/*.pro.user
/*.pro.user.*
/osmscout-server_console.pro*
/osmscout-server_qtcontrols.pro*

*~

# Clickable build, temporary source and config dirs
/build/
/libs/
/.clickable/
