[Desktop Entry]
Type=Application
X-Nemo-Application-Type=no-invoker
Icon=harbour-osmscout-server
Exec=harbour-osmscout-server
Name=OSM Scout Server

# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=osmscout-server

